/* .co{
    width: 400px;
    height: 100% !important;
    border-radius: 5rem;
    background-color: #80aef3;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5rem;
} */